*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    
}
body{
    background: url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover ;
    -o-background-size: cover;
    width: 100%;
   
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:black;
    font-family: 'Source Sans Pro', sans-serif;
    
}
.logo{
    color:white;
    margin-left: 10%;
    font-size: 40px;
    display: flex; 
    transition: all 1s ease;
}
.logo:hover{
    transform: rotate(-360deg);
}
.n-links{
    display: flex;
    justify-content: space-around;
    margin-left: 35%;
    width: 30%;  
 
    
}
.n-links li{
    list-style: none;
    overflow-y: hidden; 
    
}
  a {
      
    background:
       linear-gradient(
         to bottom, white 0%,
         white 100%
       );
      background-position: 10% 100%;
      background-repeat: repeat-x;
      background-size: 2px 2px;
    color: #000;
    text-decoration: none;
    transition: background-size .4s;
  }
  
  a:hover {
    background-size: 4px 50px;
  }

.n-links a{
    text-decoration: none;
    letter-spacing: 2px;
    color: whitesmoke;
    font-size: 20px;
    transition: all 0.3s ease-in;
    
}
.n-links a:hover{
    color:black;  
    
}
.menu-bars{
    display: none;
}
 .menu-bars div {
    font-size: 35px;
    color: whitesmoke;
    display: none;
} 
@media screen and (max-width:1024px){
    .n-links{
        width: 45%;
    }
}
@media screen and (max-width:768px){
    .n-links{
        width: 65%;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: transform 0.5s ease-in;
        transform: translateX(100%);
    }
    
     .menu-bars{
        display: block;
        transition: transform 1s;
        overflow-y: hidden;
    } 
}
.n-active{
    transform: translateX(0%);
    z-index: 1;
}
.blur{ 
    transition: all 0.3 ease;
    z-index: -1;
    filter: blur(5px);
}
.fa-window-close{
    font-size: 35px;
    color: whitesmoke;
    display: block;
        transition: transform 1s;
        transition: ease-in-out 0.6s;
}
.menu-bars div{
    
    display: block;
    transition: all 0.3s ease;
    
}
.menu-bars div{
    width: 28px;
    height: 3px;
    background-color: rgb(226,226, 226);
    margin: 5px;
    transition: all 0.3 ease;
}
.toggle .line1{
    transform: rotate(-45deg)translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
    
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/* ///////////////////////////////////////////////////////////////// */



.main-content{
    width: 100%; 
    transition: all 1s ease;   
}
.content-box{
    height: 84vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: whitesmoke;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
    text-shadow: 5px 29px 20px #fff;
}

.sign-up{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-weight: 600;
    
}
.sign-up a{
    text-align: center;
    background-color: #fff;
    width: 43%;
    border-radius: 2px;
    transition: all 0.6s ease;
}
.sign-up a:hover{
    transform: scale(1.05);
}


.footer{
    height: 8vh;
    display: flex;
    justify-content: space-around;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 1.7em;
    color: whitesmoke;
    letter-spacing: 10px;
    font-family: Cambria;
}
